@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Gill Sans Bold";
    src: url("../fonts/gill-sans-ultra-bold.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
}

:root {
    --primary-50: #eff5ff;
    --primary-100: #dbe8fe;
    --primary-200: #bfd7fe;
    --primary-300: #93bbfd;
    --primary-400: #609afa;
    --primary-500: #3b82f6;
    --primary-600: #2570eb;
    --primary-700: #1d64d8;
    --primary-800: #1e55af;
    --primary-900: #1e478a;
    --primary-950: #172e54;

    --gray-50: hsl(217deg, 10%, 95%);
    --gray-100: hsl(217deg, 10%, 90%);
    --gray-200: hsl(217deg, 10%, 80%);
    --gray-300: hsl(217deg, 10%, 70%);
    --gray-400: hsl(217deg, 10%, 60%);
    --gray-500: #737d8c;
    --gray-600: hsl(217deg, 10%, 40%);
    --gray-700: hsl(217deg, 10%, 30%);
    --gray-800: hsl(216deg, 10%, 20%);
    --gray-900: hsl(217deg, 10%, 10%);
    --gray-950: hsl(217deg, 12%, 5%);

    --black: #000;
    --white: #fff;

    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --transition-all: all 200ms ease-in-out;

    --nav-height: 5rem;

    /* these can't be used in media queries but they are here for reference */
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
html,
body {
    font-family: "Montserrat", "Calibri", "sans-serif";
    background-color: var(--gray-50);
    display: flex;
    flex-direction: column;
}
.dark body {
    background-color: var(--gray-950);
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}
.theme-toggler-label {
    display: block;
    position: relative;
    width: 4rem;
    cursor: pointer;
    user-select: none;
    border-radius: 9999px;
    box-shadow: var(--shadow);
}
.theme-toggler-checkbox {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.theme-toggle-track {
    display: flex;
    transition: var(--transition-all);
    height: 2rem;
    width: 4rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 9999px;
    background-color: var(--primary-500);
    padding: 0.5rem;
}

.dark .theme-toggle-track {
    background-color: var(--white);
}
.theme-toggler-indicator {
    position: absolute;
    right: 0.25rem;
    top: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 9999px;
    background-color: var(--white);
    transition: var(--transition-all);
}
.dark .theme-toggler-indicator {
    right: 2.25rem;
    background-color: var(--gray-900);
}
.theme-toggler-icon {
    height: 1.25rem;
    width: 1.25rem;
}
.logo {
    height: 3rem;
    width: 100px;
    background-image: url("../img/qBox-logo-with-text.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.dark .logo {
    background-image: url("../img/qBox-log-with-text-white-03.svg");
}

.nav {
    background-color: var(--gray-50);
    z-index: 1;
    height: var(--nav-height);
    position: relative;
}
.dark .nav {
    background-color: var(--gray-950);
}
.nav .container {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-menu {
    height: var(--nav-height);
    list-style-type: none;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}
.categories-menu.vertical {
    flex-direction: column;
    height: auto;
    align-items: start;
}
.categories-menu.vertical .categories-menu-item {
    width: 100%;
}
.categories-menu.main-categories-menu {
    display: none;
}
.right {
    display: flex;
    gap: 1rem;
    height: var(--nav-height);
    align-items: center;
}
.categories-button {
    border: none;
    display: block;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    font-weight: 600;
    color: var(--gray-500);
    border-radius: 9999px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition-all);
}
.dark .categories-button {
    color: var(--gray-400);
}
.vertical .categories-button {
    width: 100%;
    justify-content: start;
}
.categories-button:hover {
    background-color: var(--gray-100);
    color: var(--gray-600);
}
.dark .categories-button:hover {
    background-color: var(--gray-800);
    color: var(--gray-400);
}
.categories-button:focus {
    outline-width: 4px;
    outline-offset: 4px;
    outline-color: var(--primary-500);
}

.categories-button.active {
    color: var(--primary-700);
    background-color: var(--primary-200);
}

.dark .categories-button.active {
    color: var(--primary-200);
    background-color: var(--primary-800);
}
.category-btn {
    height: 2.75rem;
    width: 2.75rem;
    background-image: url("../img/categories-primary.svg");
    background-repeat: no-repeat;
    background-size: 1.75;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 9999px;
}
.dark .category-btn {
    background-image: url("../img/categories-white.svg");
}

.dark .category-btn:hover {
    background-color: var(--gray-800);
}
.category-btn:hover {
    background-color: var(--gray-100);
}

.category-btn:focus {
    outline-width: 4px;
    outline-offset: 4px;
    outline-color: var(--primary-500);
}

@media screen and (min-width: 640px) {
    .categories-menu.main-categories-menu {
        display: flex;
    }
    .category-btn {
        display: none;
    }
}

.drawer-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    transition: var(--transition-all);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}
.drawer-wrapper.shown {
    opacity: 1;
    visibility: visible;
}
.dark .drawer-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}
.drawer {
    transition: var(--transition-all);
    position: absolute;
    height: 100vh;
    width: 320px;
    right: 0;
    background-color: white;
    box-shadow: var(--shadow);
    z-index: 10;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
}
.shown .drawer {
    transform: translateX(0);
}
.dark .drawer {
    background-color: var(--gray-900);
}
.drawer-head {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    justify-content: space-between;
}
.brand-logo {
    height: 3rem;
}
.close-btn {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url("../img/close-primary.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.dark .close-btn {
    background-image: url("../img/close-white.svg");
}
.drawer-body {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.quote-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex-grow: 1;
}
.quote {
    font-size: 2rem;
    text-align: center;
    color: var(--gray-800);
    margin: auto;
    overflow: scroll;
}

.quote::-webkit-scrollbar {
    width: 4px;
}
.quote::-webkit-scrollbar-corner {
    display: none;
}
.quote::-webkit-scrollbar-thumb {
    background-color: var(--gray-500);
    border-radius: 999px;
}

@media screen and (min-width: 1024px) {
    .quote {
        font-size: 3rem;
    }
}
.dark .quote {
    color: var(--gray-200);
}
.author-wrapper {
    font-size: 1.25rem;
    align-self: flex-end;
    color: var(--gray-900);
}
.dark .author-wrapper {
    color: var(--gray-100);
}
.quotation-mark {
    font-family: "Gill Sans Bold";
}
.quotation-mark.start {
    transform: rotate(180deg);
}
.main {
    flex-grow: 1;
    overflow-y: auto;
}

.main .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.settings-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;
}
.controls-wrapper {
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.btn {
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
}
.btn.btn-gray-500 {
    color: var(--gray-500);
    background-color: var(--gray-500);
}
.btn.btn-primary {
    color: white;
    background-color: var(--primary-500);
}

.btn.btn-primary.btn-outline {
    color: var(--primary-500);
}
.btn.btn-outline {
    border: 2px solid currentColor;
    background-color: transparent;
}
.btn.btn-round {
    padding: 0;
    width: 3rem;
}
